.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.Title {
  margin-top: 2rem;
  text-align: center;
}

.Subtitle {
  font-size: 1rem;
}

.Footer-text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.Link {
  color: #1ed65f;
  text-decoration: none;
}
